body{
    background-color: black;
}

.a1{
    position: relative;
    bottom:0%;
}

.Introd{
    color: white;
    text-align: center;
    padding-bottom:22%;
}

.Hobby{
    color: white;
    float: left;
    margin: auto;
    width: 49%;
    display: inline-block;
    vertical-align: middle;

    }
.Top{
    color: white;
    float: left;
    width: 49%;
    display: inline-block;
    vertical-align: middle;

}

.textofooter{
    font-size: 20px;
    color: white;
    font-weight: bolder;
    text-shadow: 1.62px 1.61px grey;

}

.sep{
    padding-bottom:13%;
}
.sep2{
    padding-bottom: 4%;
}
.textcima{
    position: absolute; 
    left: 2%; 
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 2.5px 2.5px grey;

}

.perfil{
    color: white;
    position: absolute; 
    left: 2%; 
    display: inline-block;
    vertical-align: middle;

}

.apres{
    font-size: 250%;
    position: absolute; 
    right: 12.3%;
    text-shadow: 1.62px 1.61px grey;

}

.qeq{
    font-size: 200%;
    font-weight: bolder;
    text-shadow: 1.62px 1.61px grey;

}

.res{
    font-size: 150%;
    position: absolute;
    left: 5.5%;
    padding-top: 0.4%;
}
.sep3{
    padding-bottom: 5%;
}

.email{
    position: relative ;
    bottom: 0%;
    width: 4.5%;
    height: 7.5%;
}